[Desktop Entry]
Name=Bitmaptize
Comment=Wraps data to .bmp and extracts data from .bmp
Exec=bitmaptize
Icon=${SNAP}/meta/gui/bitmaptize.png
Terminal=false
Type=Application
Categories=Utility;Security;